<button><%= link_to "New Appointment", new_appointment_path %></button>
<button><%= link_to "View Appointments", appointments_path %></button>

<button><%= link_to "Log In", new_user_session_path %></button>